@import './variables.scss';

.toolbar {
	height: $toolbar-height;
	background-color: white;
	display: flex;
	align-items: center;
	position: absolute;
	width: 100%;
	box-shadow: 0 4px 5px gray;
	z-index: 5;

	&__btn {
		height: 25px;
		width: 25px;
		border: none;
		outline: none;
		cursor: pointer;
		background-size: cover;
	}
	.brush {
		background: url('../assets/image/brush.png') no-repeat center center;
		margin-left: 10px;
	}
	.rect {
		background: url('../assets/image/rect.png') no-repeat center center;
		margin-left: 10px;
	}
	.circle {
		background: url('../assets/image/circle.png') no-repeat center center;
		margin-left: 10px;
	}
	.eraser {
		background: url('../assets/image/eraser.png') no-repeat center center;
		margin-left: 10px;
	}
	.line {
		background: url('../assets/image/line.png') no-repeat center center;
		margin-left: 10px;
	}
	.redo {
		background: url('../assets/image/redo.png') no-repeat center center;
		margin-left: 10px;
	}
	.undo {
		background: url('../assets/image/undo.png') no-repeat center center;
		margin-left: auto;
	}
	.save {
		background: url('../assets/image/save.png') no-repeat center center;
		margin-left: 10px;
		margin-right: 10px;
	}
}

.setting-bar {
	height: $toolbar-height;
	background-color: white;
	display: flex;
	align-items: center;
	position: absolute;
	width: 100%;
	box-shadow: 0 4px 5px gray;
	top: $toolbar-height;
}
